
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="limiter">
        <div class="wrap-login100">

            <span class="login100-form-title">
                BIENVENIDO A NUESTRO GENERADOR DE CEDULAS DOMINICANAS
            </span>


            <div class="container" style="margin-bottom:4%;">


                <div class="text-center" style="padding:2%;">
                    <img src="~/Content/images/fondocedula.png" width="350" height="330" alt="IMG">
                </div>

                <div class="row">
                    <div class="col-lg">

                        <div class="text-center p-t-20">
                            <a class="btn btn-info btn-lg" href="List">
                                <i class="fa fa-list" aria-hidden="true" ></i>
                                &nbsp;&nbsp;Ver Listado
                            </a>
                        </div>
                    </div>
                    <div class="col-lg">

                        <div class="text-center p-t-20">
                            <a class="btn btn-success btn-lg" href="Create">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                &nbsp;&nbsp;Crear Cedula
                            </a>
                        </div>
                    </div>
                    <div class="col-lg">

                        <div class="text-center p-t-20">
                            <a class="btn btn-danger btn-lg" href="Busqueda">
                                <i class="fa fa-print" aria-hidden="true"></i>
                                &nbsp;&nbsp; Imprimir
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>